*,
::after,
::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.center_f {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_g {
  display: grid;
  place-items: center;
}

.center_abs {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.m_auto {
  margin: auto;
}